*{
    outline: 0 none;
}

body {
    width: 100%;
    height: 100%;
}

#share {
    width: 100%;
    height: 100%;
    min-height: 420px;
    position: relative;
    background-color: #29e;
    color: white;
    border-radius: 0.75em;
    padding: 4%;
    /* margin:20px;*/
}
.getConnected {
    width: 200px;
    position: absolute;
    right: 0;
    top: 51px;
    background: #ffcc00;
    padding: 10px;
    display: none;
    z-index: 999999;
}
.activeCallback span {
    color: green;
}
.remote-view-element {
    position: relative !important;
}
.pd-20 {
    padding: 20px 15px;
}
.mt-20 {
    margin-top: 20px;
}
.borderLeft {
    border-left: 3px solid #000;
}
.leftPanel {
    padding: 0 2em;
}
.btn,
.btn-primary {
    box-shadow: 1px 2px 1px 1px #333
}

#requestShare,
#end {
    visibility: visible;
}
.swal2-modal h2 {
    font-size: 17px;
}
#disconnect,
.agentTools {
    display: none;
}
#drag-1,
#drag-2 {
    width: 25%;
    height: 100%;
    min-height: 6.5em;
    margin: 10%;
    background-color: #29e;
    color: white;
    border-radius: 0.75em;
    padding: 4%;
    -webkit-transform: translate(0px, 0px);
    transform: translate(0px, 0px);
}
#drag-me::before {
    content: "#" attr(id);
    font-weight: bold;
}
.navbar {
    border-radius: 0px !important;
}

.resizeWidth {
    width: 100%;
}
#end {
    position: fixed;
    right: 0;
    top: 75%;
    display: none;
}
.agentTools {
    background-color: #29e;
    color: white;
    border-radius: 0.75em;
    padding: 4%;
    height: 100%;
    float: left;
}
.mtb-5 {
    margin: 5px 0;
}
#requestShare {
    display: none;
    position: fixed;
    right: 0;
    top: 45%;
    display: none;
}
#disconnect {
    display: none;
    position: fixed;
    right: 0;
    bottom: 30px;
    display: none;
}
.inp{
    border: 1px solid #ccc;
    padding: 5px;
    border-radius: 2px;
    width: 130px;
}